@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-30 13:43:34
 * @version $Id$
 */
 .Box{
	border: 1px solid gray;
 	width: 500px;
 	height: 150px;
 }
 .Box2{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
 	width: 500px;
 	height: 200px;
 }
  .Box3{
	border: 1px solid gray;
 	width: 500px;
 	height: 60px;
 }
  .Box4{
	border: 1px solid gray;
 	width: 500px;
 	height: 300px;
 }
 /*------------------Box---------------*/
 .title{
 	float: left;
 	margin: 1px;
 	width: 19.6%;
 	height: 40px;
 	line-height: 50%;
 	background:  lightgray;
 	text-align: center;
 	border-radius: 3px;
 }
 .title:hover{
 	background-color:  white;
 }
 .title3{

 	margin-right: 25px;
 	float: right;
	width: 100;
	height: 40;
 }
 .box1{
 	margin-left: 25px;
 	margin-top: 5px;
 	border: 1px solid gray;
 	width: 450px;
 	height: 30px;
 }
 /*------------------Box2---------------*/
 .img1{
 	float: left;
 	margin-left: 5px;
 	margin-top: 5px;

 	width: 100px;
 	height: 100px;
 	background: #FF4500;
 }
 .test{
 	float: right;	
 	margin: 11px;
  	border: 1px solid gray;
 	width: 350px;
 	height: 30px;
 }
 .img2{
 	margin:30px;
 	float: left;
 	width: 100px;
 	height: 35px;
 	background-color: #E6E6FA;
 	border-radius:  5px;
 }
/*  .img3{
 	margin:30px;
 	float: left;
 	width: 100px;
 	height: 35px;
 	border-radius:  5px;
 }
  .img4{
 	margin:30px;
 	float: left;
 	width: 100px;
 	height: 35px;
 	border-radius:  5px;
 }*/
 /*------------------Box3---------------*/
 #put3{
 	margin-top:  5px;
 	margin-left: 50px;
 	width: 400px;
 	height: 30px;
 }
 /*------------------Box4---------------*/
 .bkgColor0{
 	margin-left: 40px;
 	margin-top: 40px;
 	width: 100px;
 	height: 100px;
 }
 .bkgColor{
 	margin-left: 25px;
 	margin-top: 15px;
 	width: 50px;
 	height: 50px;
 }
 .word{
 	position: auto;
	margin-left: 30px;
 }
 .word0{
 	position: auto;
	margin-left: 75px;
 }
 .fare1{	
 	box-sizing:  border-box;
 	float: left;
 	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 40%;
	height: 66.6%;
 }
.fare2{
	box-sizing:  border-box;
	float: left;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 20%;
	height: 33.33%;
}
.fare3{
	box-sizing:  border-box;
	float: left;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 20%;
	height: 33.3%;
}
